.principal
{
	height: 500px;
	background: #EDEBEB;
}

footer
{
	height: 300px;
	background: #585757;
}
<<<<<<< HEAD
.container{
	background-color: yellow;
=======
/*`Slider*/
.slider
{
	height: 500px;
	background: #FFBABA;
>>>>>>> b3aaf5c358f3726242388bd423289aebcca03069
}